*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: Bahnschrift, Montserrat, sans-serif;
    transition-duration: 0.4s;
}

body{
    background: url(../Images/background.png) repeat;
    background-size: cover;
    /* overflow-x: hidden; */
    height: 100vh;
    /* min-height: 710px;
    min-width: 1200px; */
}

a, li{
    text-decoration: none;
    list-style: none;
}

/*--------Header--------*/

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 35px 100px;
    font-size: 18px;
    box-shadow: 0 0 20px 0 #000;
}

.website-logo{
    background-image: url('../Images/Logo-white-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 75px;
    cursor: pointer;
}

/*-------Content------*/

.content{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;
    position: relative;
    /* overflow-y: hidden; */
}

#bground{
    background-image: url(../Images/Morning.jpg);
    z-index: 0;
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: #000;
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    box-shadow: 0 0px 65px 0 #000;
}

#bground_object{
    background-image: url(../Images/Morning-tree.png);
    z-index: 2;
    position: absolute;
    width: 80%;
    height: 100%;
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    /* box-shadow: 0 0 25px 0 #000; */
}

#object{
    height: 65px;
    width: 65px;
    z-index: 1;
    position: absolute;
    left: 60px;
    bottom: 87px;
    background-image: url(../Images/naruto-run-1.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.btn{
    align-items: center;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

/*--------Footer--------*/

footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0 0 25px 0 #000;
}

footer h1{
    text-align: center;
    margin: -10px 0 20px 0;
    font-size: 20px; 
    color: #ececec; 
    font-weight: 80;
}

.social-links{
    display: flex;
    justify-content: center;
    align-content: center;
    display: flex;
    margin: 0;
}

.social-links li a{
    color: #999898;
    padding: 0 50px;
    font-size: 35px;
}

.fa-github:hover{
    color: #fff;
}

.fa-linkedin-in:hover{
    color: #0a66c2;
}

.fa-instagram:hover{
    color: #a03aa0;
}

.fa-twitter:hover{
    color: #a1ddff;
}